In [3]:
import pandas as pd
z= pd.read_csv("data_chilla.csv")
z.head(2)

,Serial_Number,Company_Name,Employee_Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np